:root {
    --shadow: 0px 0px 10px #23c1cb;
}

body {
    background-color: #030200;
    color: #F8F8F8;
    font-family: 'Sen', sans-serif;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 1.5px;
}

/* Responsive settings*/
@media only screen and (max-width: 500px) {
    body {
        font-size: 18px;
    }

    #spinName {
        font-size: 32px;
    }
}




/* NavBar */

.page-progress-container {
    width: 100%;
    height: 5px;
    background: 0 0;
    position: fixed;
    top: auto;
    z-index: 99;
}

.page-progress-bar {
    height: 5px;
    background: #23c1cb;
    width: 0%;
}

.navbar {
    border-bottom: 0;
    min-height: 10px;
    background-color: transparent;
}

.navbar-toggle {
    border: 0
}

.nav-pills>li {
    color: #23527c;
    background-color: black;
}


.nav-pills>li.active>a,
.nav-pills>li>a:focus,
.nav-pills>li.active>a:hover {
    color: #23c1cb;
    background-color: #333;
    border-bottom: 0px;
    border-radius: 0px;
}

.nav-pills>li>a:hover {
    background-color: #333;
    border-bottom: 0px;
    border-radius: 0px;
    color: white;
}



.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.nav-link {
    color: rgb(156, 156, 156);
}

.navbar-collapse {
    background-color: black;
}

/* Content start */

.container {
    padding-top: 50px;
    min-height: 90vh;
    color: #F8F8F8;
    margin: 0 auto;
    background-color: #030200;
}


/* Alex Asztalos*/
h1,
h2 {
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: inset 0px -5px 0px 0px #23c1cb;
}

h1 {
    font-size: 38px;
}

h3 {
    font-weight: bold;
}

h2:hover {
    text-shadow: var(--shadow);
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*spin effects*/
#spinName::after {
    content: "";
    animation: spinName 4s linear forwards;
}

@keyframes spinName {
    0% {
        content: "A@#@#&#@#@#";
        text-shadow: none;
    }

    10% {
        content: "Al#@#@#@#@#";
        text-shadow: none;
    }

    15% {
        content: "Ale&#@#@#&#";
        text-shadow: none;
    }

    20% {
        content: "Alex#@#@#@#";
        text-shadow: none;
    }

    30% {
        content: "Alex A@#&#@#";
        text-shadow: none;
    }

    40% {
        content: "Alex Asz#@#@&";
        text-shadow: none;
    }

    50% {
        content: "Alex Aszt&#@#";
        text-shadow: none;
    }

    60% {
        content: "Alex Aszta#@#";
        text-shadow: none;
    }

    70% {
        content: "Alex Asztal@&";
        text-shadow: none;
    }

    80% {
        content: "Alex Asztalo#";
        text-shadow: none;
    }

    90% {
        content: "Alex Asztalos";
        text-shadow: none;
    }

    100% {
        content: "Alex Asztalos";
        text-shadow: var(--shadow);
    }
}

#junior::after {
    content: "";
    animation: spinJobs 4s linear forwards;
}

@keyframes spinJobs {
    0% {
        content: "Joiner";
        text-shadow: none;
    }

    20% {
        content: "Upholsterer";
        text-shadow: none;
    }

    40% {
        content: "Commissioner";
        text-shadow: none;
    }

    60% {
        content: "Package delivery";
        text-shadow: none;
    }

    80% {
        content: "Truck loader";
        text-shadow: none;
    }

    100% {
        content: "Junior FrontEnd Developer";
        text-shadow: var(--shadow);
    }
}

/* About Me */
p [href] {
    text-decoration: none;
    color: #23c1cb;
}

p [href]:hover {
    text-decoration: none;
    color: #23c1cb;
    text-shadow: var(--shadow);
}


/* Skills */


.skill-title {
    list-style: none;
    text-align: center;
    padding: 15px 0 15px 0;
}



.skill-title p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}

.devicons {
    font-family: "devicon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 6.5rem;
}

.skill-title:hover {
    color: #23c1cb;
    text-shadow: var(--shadow);
}


/* Projects */
#projects {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.proCards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 25px 0 25px 0;
}

@media only screen and (max-width:1000px) {
    .proCards {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

}

.prodevicons {
    font-size: 36px;
    padding: 15px 10px 15px 10px;
}

.prodevicons:hover {
    text-shadow: var(--shadow);
}

/* FrontEndMentor */
#frontEndMentorNftImg {
    height: 450px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.frontEndMentorNftImg {
    margin: 0 auto;
}

.frontEndMentorNftText {
    text-align: center;
}


/* TicTacToe */
.ticTacToeScript {
    text-align: center;
}

#restartBtn {
    background-color: #030200;
    color: #23c1cb;
}

#restartBtn:hover {
    text-shadow: var(--shadow);
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid #23c1cb;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    color: #23c1cb;
    text-shadow: var(--shadow);
}

#gameContainer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

#cellContiner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: 0 auto;
    box-shadow: var(--shadow);
}

#statusText {
    color: darkorange;
    font-size: 26px;
    padding-top: 15px;
}

.ticTacToeText {
    text-align: center;
}

/* Portfoli */

#portfolioImg {
    width: 300px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    text-align: center;
}

.portfolioImg {
    text-align: center;
}

#portfolioText {
    text-align: center;
}




/* Contact */

#contact {
    margin-top: 50px;

}

#contact>div>div>h2 {
    margin-bottom: 50px;
}

.contactText {
    text-align: center;
}

/* Theme change */


.switchWh {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: white;
    border: 3px solid black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.switchBl {
    position: absolute;
    right: 20px;
    bottom: 60px;
    background-color: black;
    border: 3px solid white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.switch:hover {
    box-shadow: var(--shadow);
}

/* Language change */
.langSw {
    position: absolute;
    right: 55px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid white;
    background-image: url(images/flagGermany.png);
    background-position: center;
    background-size: 40px 40px;
}

.langSw:hover {
    box-shadow: var(--shadow);
}

.langSw>a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}