body {
    background-color: #030200;
    color: #F8F8F8;
    font-family: 'Sen', sans-serif;
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: 1.5px;
}

.content {
    padding: 50px 25px 50px;
    max-width: 1500px;
}

.container {
    padding-top: 50px;
    max-width: 1180px;
    min-height: 90vh;
    color: #F8F8F8;
    margin: 0 auto;
    width: 90%;
    background-color: #030200;
    display: block;
    box-sizing: border-box;
}

#alex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgAlex {
    float: right;
}

h1,
h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.page-progress-container {
    width: 100%;
    height: 5px;
    background: 0 0;
    position: fixed;
    top: auto;
    z-index: 99;
}

.page-progress-bar {
    height: 5px;
    background: #23c1cb;
    width: 0%;
}

.navbar {
    border-bottom: 0;
    min-height: 10px;
    background-color: transparent;
}

.navbar-toggle {
    border: 0
}

.nav-pills>li {
    color: #23527c;
    background-color: black;
}


.nav-pills>li.active>a,
.nav-pills>li>a:focus,
.nav-pills>li.active>a:hover {
    color: #23c1cb;
    background-color: #333;
    border-bottom: 0px;
    border-radius: 0px;
}

.nav-pills>li>a:hover {
    background-color: #333;
    border-bottom: 0px;
    border-radius: 0px;
    color: white;
}



.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.nav-link {
    color: rgb(156, 156, 156);
}

.navbar-collapse {
    background-color: black;
}