body {
    background-color: #030200;
    color: #F8F8F8;
}

.container {
    background-color: #030200;
    color: #F8F8F8;
}

.langSw {
    border: 3px solid white;
}

#frontEndMentorIPCImg {
    filter: brightness(70%);
}